.block-language-gEvent > webview {
	width: 100%;
	height: 100%;
}

.test {
	width: 300px;
	height: 300px;
	background: red;
}
.hoverPopup {
	position: absolute;
	width: 200px;
	height: 500px;
	background-color: red;
	border-radius: 5px;
}

#calendar-container .today {
	font-weight: bold;
	color: red;
}

input[type="datetime-local"] {
	background: var(--background-modifier-form-field);
	border: 1px solid var(--background-modifier-border);
	color: var(--text-normal);
	font-family: inherit;
	padding: 5px 14px;
	font-size: 16px;
	border-radius: 4px;
	outline: none;
	height: 30px;
}

.googleEventDetails {
	display: flex;
	flex-direction: column;
}


