#calendar-container .today {
	font-weight: bold;
	color: red;
}

.googleEventDetails {
	display: flex;
	flex-direction: column;
}

.SubSettings {
	margin-left: 40px;
}

.suggestionText {
	font-size: 20px;
}

.templater_search {
	width: calc(100% - 20px);
}

.googleCalendarDailyDot {
	fill: var(--daily-dot-color) !important;
}

.block-language-gEvent {
	padding: 0px;
}

.setting .multiselect .options  {
	background-color: #262626 !important;
}

.rangeSettings .rangeSlider {
	width: 300px;
}

.googleCalendarName a {
	z-index: 2;
	pointer-events: all;
}